template(name='userBadge')
    if this
        h1
            +userName
        blockquote
            div
                | Уровень:
                =level
            div
                | Рейтинг:
                =rating
            div
                | Активность:
                =activity
            if cfLogin
                div
                    | Codeforces рейтинг:
                    +cfStatus
            else
                | Логин на codeforces неизвестен. Если вы зарегистированы, сообщите логин мне.
        a(href="{{profileLink}}"  target="_blank") Полные результаты
    else
        h1
            | Неизвестный пользователь
        Это может быть ошибкой, а может быть нормально:
        ul
            li Если вы не занимаетесь в этом курсе, а просто зашли посмотреть, то это нормально.
            li Если вы занимаетесь, но не написали мне об этом, то это ошибка, срочно напишите.
            li Если вы написали, но не очень давно (менее 2 дней назад), то, возможно, я просто еще не видел вашего письма;
            li Если вы еще не решали задач в курсе, то вас пока нет в сводных таблицах и нет здесь. Как только будете решать, эта ошибка пропадет.
            li Если вы решали задачи в курсе, но очень давно, и я вас только что добавил в таблицы, то ваши старые результаты появятся в течение суток.
            li Иначе срочно напишите мне, возможно, я вас как-то не так добавил.
