template(name='tableRow')
    +each tables
        +each tables
            td.border
            +each problems
                +result user=../../../user table=this
        td.border
        +totalResult user=../user table=this
    td.border
    +totalResult
    +attempts

template(name='result')
    td(title="{{user.name}} : {{table.name}}",class="{{class}}")
        =text

template(name='totalResult')
    td(title="Итого по уровню {{table.name}}")
        =result

template(name='attempts')
    td(title="Попыток по уровню {{table.name}}")
        =result
