template(name='table')
    h1
        | Сводная таблица по уровням
        =levelsText
    p
        | Цвета:
        span.ac.example Зачтено/Принято
        span.ig.example Проигнорировано
        span.ok.example OK
        span.wa.example Частичное решение и т.п.
    p
        | Наведите курсор на ячейку таблицы, чтобы узнать название задачи
    p
        | Двойной щелчок по ячейке таблицы открывает соответствующую задачу и, если по ней были посылки, то последнюю посылку по ней
    p
        | Имена школьников — ссылки на странички с результатами каждого конкретного школьника.
    +tableProper
