template(name='cfStatus')
    a(href="http://codeforces.com/profile/{{cfLogin}}")
        span.cfColor(style="color:{{cfColor}};")
            =cfRating
    |  (
    span.cfProgress(title="Взвешенный прирост рейтинга за последнее время",style="color:{{cfProgressColor}}")
        =cfProgressFormatted
    | /
    span(title="Взвешенное количество написанных контестов за последнее время")
        =cfActivityFormatted
    | )
