template(name='application')
    script(type="text/javascript",src="https://cdn.rawgit.com/davidjbradshaw/iframe-resizer/master/js/iframeResizer.contentWindow.min.js")
    .container-fluid
        if user
            +loginButtons
        +yield
    //+footer
    //+githubRibbon
