template(name='application')
    script(type="text/javascript",src="https://cdn.jsdelivr.net/gh/davidjbradshaw/iframe-resizer/js/iframeResizer.contentWindow.min.js")
    .container-fluid
        if user
            +loginButtons
        +yield
    //+footer
    //+githubRibbon
