template(name='chocos')
    tr.chocos
        td.chocos
            if number
                +each chocosSet
                    img(src="/choco.png")
            else
                img(src="/choco-strut.png")
        td
            span.badge
                =number
                
                    
    