template(name='userHeader')
    td
        | &nbsp;
    if admin
        td
            span(title="Базовый уровень")
                | БУ
        td
            span(title="Уровень на начало полугодия")
                | УП
    td
        span(title="Уровень")
            | У
    td
        span(title="Рейтинг")
            | Р
    td
        span(title="Активность")
            | A
    td
        span(title="Codeforces рейтинг")
            | CF
                
                    
    