template(name='tableProper')
    table.mainTable
        tr
            +userHeader
            +tableHeader1
        //tr
            //td
                //| &nbsp;
            //+tableHeader2
        +each users
            tr
                +userLine
                +tableRow user=this tables=../tables

