template(name='okSubmits')
    table.okSubmits
        +each submits
            if needSubmit
                tr
                    td
                        a(href="{{href}}",target="_blank")
                            =time
                    td
                        a(href="{{userHref}}")
                            =user
                    td
                        =problem
                    td
                        =contests
        
                
                    
    