template(name='okSubmits')
    h1
        | OK
    table.okSubmits
        +each submits
            if needSubmit
                tr
                    td
                        a(href="{{href}}",target="_blank")
                            =time
                    td
                        a(href="{{userHref}}")
                            =user
                    td
                        =problem
                    td
                        =contests

    h1
        | AC
    table.okSubmits
        +each acSubmits
            if needAcSubmit
                tr
                    td
                        a(href="{{href}}",target="_blank")
                            =time
                    td
                        a(href="{{userHref}}")
                            =user
                    td
                        =problem
                    td
                        =contests
            
    h1
        | IG
    table.okSubmits
        +each igSubmits
            if needAcSubmit
                tr
                    td
                        a(href="{{href}}",target="_blank")
                            =time
                    td
                        a(href="{{userHref}}")
                            =user
                    td
                        =problem
                    td
                        =contests
                
    h1
        | WA
    table.okSubmits
        +each waResults
            tr
                td
                    a(href="{{href}}",target="_blank")
                        =time
                td
                    a(href="{{userHref}}")
                        =user
                td
                    =problem
                td
                    =contests
                
    
    
                
                    
    