template(name='userLine')
    if name
        td
            a(href="/user/{{_id}}")
                +userName
        if admin
            td
                span(title="Базовый уровень")
                    form.baseLevel
                        input(type="text",name="newLevel",value="{{baseLevel}}",size="3")
            td
                span(title="Уровень на старте полугодия")
                    =startLevel
        td
            span(title="Уровень")
                =level
        td
            span(title="Рейтинг")
                =rating
        td
            span(title="Активность")
                =activity
                
                    
    